@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

html,
body,
#root {
  height: 100%;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --white: #ffffff;
  --ltGray: #fafafa;
  --drkGray: #858585;
  --purple: #7672ce;
  --drkBlue: #111517;
  --black: #000000;
  --font: "Nunito Sans", sans-serif;
}
body {
  margin: 0;
  font-family: var(--font);
  background-color: var(--ltGray);
  max-width: 1440px;
  margin: 0 auto;
}
header {
  background-color: var(--white);
  height: 80px;
  border-bottom: 0.7px solid var(--drkGray);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 80px 0 80px;
  height: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: var(--drkBlue);
}
nav a:first-child {
  font-size: 24px;
  font-weight: 800;
}

nav a:last-child {
  font-size: 16px;
  font-weight: 600;
}
.country-card {
  width: 264px;
  height: 336px;
  border-radius: 5px;
  background-color: var(--white);
  box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.0294), 0 0 7px 2px #999999;
}
.country-flag {
  width: 264px;
  height: 160px;
  border-radius: 5px 5px 0 0;
}
.country-detail {
  padding: 24px;
}
.country-card h2 {
  font-size: 18px;
  font-weight: 800;
  color: var(--drkBlue);
}
.country-card p {
  font-size: 14px;
  line-height: 16px;
  margin: 0;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(4, 264px);
  gap: 75px;
  padding: 82px 80px 115px 80px;
  justify-content: center;
  max-width: 1440px;
  margin: 0 auto;
}
@media (max-width: 800px) {
  .card-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 39px;
    padding: 142px 55px 115px 56px;
  }

  nav a:first-child {
    font-size: 14px;
  }

  nav a:last-child {
    font-size: 10px;
  }

  .country-card {
    width: 100%;
    height: auto;
  }

  .country-flag {
    width: 100%;
    height: auto;
  }

  header {
    width: 100%;
    left: 0;
    transform: none;
  }
}
